$text: 'Open Sans';
$title: 'Sansita';
$font-1: 72px;
$font-2: 48px;
$font-3: 36px;
$font-4: 24px;
$font-5: 18px;
$font-6: 16px;
$font-7: 14px;
$font-8: 11px;

$prim: #669f09;
$sec: #8bb940;
$tri: #007f1a;
$danger: #ff6c1a;
$alert: #f9e453;
$gray1: #ffffff80;
