@import '../layout/variables';
@import '../layout/functions';
@import '../layout/mixins';

.nav-link{
  &:hover{
    color: $prim !important;
    cursor: pointer;
  }
}
.line{
  @include line($prim, 100%, 5px);
  width: 80vw;
  margin: 0 auto;
}

.line_br{
  @include line($sec, 100%, .3px);
  margin: 1rem 0;
  width: 80vw;
  margin: 0 auto;
}
.post_cont{
  margin: 1rem auto;
  width: 80vw;
}

.card_body{
  padding-top: 0;
}
