@import '../layout/variables';
@import '../layout/functions';
@import '../layout/mixins';
@import '../layout/base';

.body{
  height:2000px;
}

.perfil_main_cont{
  height: 100vh;
  margin: 0 auto;
  width: 95%;
  margin-top: 12vh;
}

.header_perfil_cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
  border: 1px solid $prim;
  .greeting{
    color: #fff;
    width: 80%;
    text-transform: capitalize;
    margin-top: auto;
    align-self: center;
    p{
      width: 70%;
      margin: 0;
      padding-bottom: 1%;
    }
    .line{
      @include line(#fff, 7%, 2px);
    }
  }
}

.perfil_header_footer{
  background: url('/static/bg-header-footer-perfil.svg') top center no-repeat;
  background-size: cover;
  height: 25%;
  width: 100%;
  margin-top: auto;
  align-self: flex-end;
}

.perfil_user_cont{
  width: 35vw;
  position: absolute;
  right: -1%;
  bottom: -10%;
  box-shadow: 5px 5px 15px #000;
  border: 3px solid #fff;
}
.user_img{
  display: block;
}
.user_name{
  background: #fff;
  color: $prim;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
  padding: .5rem;
}